# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures can get large
[Mm]emoryCaptures/

# Asset database cache
*.pidb
*.booproj
*.svd

# Rider/VSCode
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Gradle
.gradle/

